@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Black.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Roboto Bold";
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Roboto Light Italic";
    src: url(fonts/Roboto-LightItalic.ttf) format('truetype');
    /* font-style: italic; */
}

@font-face {
    font-family: "Roboto Light";
    src: url(fonts/Roboto-Light.ttf) format('truetype');
}


/* HTML AND BODY */

html {
    font-size: 100%;
}

body {
    margin: auto;
}


/* HEADER */

header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header top part */

#header-top {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #F9FAF8;
}


nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    font-size: 1.125rem;
    color: #e5e7eb;
    float: left;
    list-style: none;
    margin-left: 1rem;
    font-family: "Roboto Light", sans-serif;
}

nav li:hover {
    border-bottom: 1px solid #e5e7eb;
}

/* header main part */

#header-main {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-main h1 {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    color: #F9FAF8;
    margin: 0;
}

#header-main p {
    font-size: 1.125rem;
    color: #e5e7eb;
    margin-top: 0;
    width: 90%;
}

#header-main div, #header-main img {
    width: 28rem;
    height: 14rem;
    margin-top: 5vh;
    margin-bottom: 15vh;
}

#header-button {
    background-color: #3882f6;
    border: 0;
    color: white;
    padding: 5px;
    width: 6.8rem;
    border-radius: 5px;
    font-family: "Roboto Bold", sans-serif;
}

#header-button:hover {
    background-color: #2b64bd;
}


/* MAIN */

/* First section */

#main-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 2.25rem;
    font-weight: bolder;
    color: #1f2937;
    font-family: "Roboto", sans-serif;
}

#picture-row {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

#main-top figure {
    margin: 0;
}

#main-top figcaption {
    width: 10vw;
    font-family: "Roboto Light", sans-serif;
    font-size: 0.9rem;
    text-align: center;
}

#main-top img {
    height: 10vw;
    width: 10vw;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

#main-top img:hover {
    border: 4px solid #2b64bd;
}

/* Second section */

#main-middle {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10vh 0 10vh 0;
    padding: 10vh 0;
}

#main-middle blockquote {
    width: 50vw;
    font-family: "Roboto Light Italic", cursive;
    font-size: 2.25rem;
    margin-bottom: 0;
    text-align: justify;
}

#main-middle h4 {
    margin-top: 0;
    position: relative;
    left: 23vw;
    font-family: "Roboto", sans-serif;
}

/* Third section */

#main-bottom {
    width: 60vw;
    background-color: #3882f6;
    color: #F9FAF8;
    margin: 0 20vw;
    padding: 5vh 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main-bottom h4 {
    font-size: 1.5rem;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

#main-bottom p {
    margin: 0 auto;
    font-size: 1.125rem;
    font-family: "Roboto Light",sans-serif;
}

#main-bottom button {
    background-color: #3882f6;
    padding: 5px;
    border: 2px solid white;
    width: 110px;
    height: 30px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-family: "Roboto Light", sans-serif;
}

#main-bottom button:hover {
    border: 2px solid #2b64bd;
    background-color: #2b64bd;
}


/* FOOTER */

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

footer h5 {
    font-size: 1.125rem;
    font-family: "Roboto Light", sans-serif;
}

